:root{
    --fondo: #67bcd6;
    --icono: #3894b9;
    --fondo-input: #ffffff;
    --textos: #ffffff;
    --icono-tema: #cfcfcf;
    --texto-input: #1b1b1b;
    --color-titulo: #333;  
  --color-parrafo: #666; 
  --fondo-cards:#ffffff;
  
}