<ion-header>
  <ion-progress-bar *ngIf="showProgress" type="indeterminate" color="medium"></ion-progress-bar><!-- El 'showProgress' es para mostrar la barra de carga -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  <div class="cards">
    <ion-icon src="/assets/logo.svg" id="logo"></ion-icon>
    <h1>Recuperar contraseña</h1>
    <input  type="{{sw?'text':'password'}}" placeholder="Ingrese su nueva contraseña">
    <input  type="{{sw?'text':'password'}}" placeholder="Reingrese la contraseña">
    <button fill="clear" (click)="sw=!sw">
      {{sw?'ocultar':'mostrar'}} contraseña
    </button>
    <button (click)="agregarViaje()"  (click)="login()">Recuperar contraseña</button> 
    <p [routerLink]="['/passcorreo']">Otros metodos</p>
  </div>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-icon name="home" [routerLink]="['/home']"></ion-icon>
      Home
    </ion-tab-button>
  </ion-tab-bar>
</ion-content>
